.min, .sec{
  margin: 0.2%;
  visibility: hidden;
}


h1 {
  font-size: 1.5em;
}

#result {
  margin-top: 1em;
}

@media (prefers-color-scheme: dark) {
  body {
    background: black;
    color: white;
  }
}


/* toggle */
input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

label {
	cursor: pointer;
	text-indent: -9999px;
	width: 50px;
	height: 25px;
	background: grey;
	display: block;
	border-radius: 100px;
	position: relative;
}

label:after {
	content: '';
	position: absolute;
	top: 1.25px;
	left: 1.25px;
	width: 22.5px;
	height: 22.5px;
	background: #fff;
	border-radius: 90px;
	transition: 0.3s;
}

input:checked + label {
	background: #bada55;
}

input:checked + label:after {
	left: calc(100% - 1.25px);
	transform: translateX(-100%);
}

#toggle {
  position: absolute;
  top: 0%;
  left: 20%;
}
